<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>pickup-calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-pickup-call-card status="hold" updateAt="06/03/2022 16:20" creatAt="05/03/2022" notes="Notes: we have two bags that are full. 
  on with plastic and the other with glase"></app-pickup-call-card>
  <app-pickup-call-card status="processing" updateAt="06/03/2022 18:20" creatAt="05/03/2022" notes="Notes: we have two bags that are full. 
  on with plastic and the other with glase"></app-pickup-call-card>
  <app-pickup-call-card value="$20,00" status="finished" updateAt="04/03/2022 20:20" creatAt="03/03/2022"></app-pickup-call-card>


</ion-content>
